{% extends 'admin/master.html' %}

{% block body %}
<div class="row">

    <div class="col-md-8">
        <h1>Welcome to the Grid, Program</h1>
        <p>Thanks for for helping us build some data on the site.</p>
        <p>If you need help with what different things are for check out the <a href="http://abkfenris.github.io/baxter-flask/user.html">User Help</a></p>
        <p>If formatting is causing you fits, check out <a href="https://help.github.com/articles/markdown-basics/">Markdown Basics</a></p>
        <p>
            Theres a lot of different data types here, and many of them have a ton of fields.
            Try not to get overwhelmed, not to many of them are required, and very few are currently displayed on the front end.
            Most are there so that they can be integrated in the future.
        </p>
        <h2>Priorities</h2>
        <p>
            We are most interested in information about Avalanche Incidents in the park.

    </div>

    <div class="col-md-4">
        <h3>Helpful stuff:</h3>
        <ul>
            <li><a href="http://abkfenris.github.io/baxter-flask/user.html">Site specific help</a></li>
            <li><a href="https://help.github.com/articles/markdown-basics/">Markdown Basics</a></li>
            <li><a href="http://americanavalancheassociation.org/pub_swag.php">Snow, Weather and Avalanche Guidelines</a> - from American Avalanche Association</li>
            <li><a href="http://americanavalancheassociation.org/publications.php">The Avalanche Review</a></li>
            <li><a href="http://avtraining.org/educational-resources/">AIARE - Resources</a></li>
            <li><a href="http://www.fsavalanche.org">National Avalanche Center</a></li>
        </ul>
    </div>
</div>
{% endblock %}
