{% extends "base.html" %}
{% block title %}Avalanche Paths{% endblock %}

{% block body_attribs %} class="baxter-avalanche-paths"{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
{% endblock %}

{% block scripts %}
{{ super() }}

<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="https://raw.github.com/calvinmetcalf/leaflet-ajax/master/dist/leaflet.ajax.min.js"></script>
<script src="http://maps.google.com/maps/api/js?v=3&sensor=false"></script>
<script src="https://raw.githubusercontent.com/shramov/leaflet-plugins/master/layer/tile/Google.js"></script>
<script>
var map = L.map('map').setView([46.0,-68.94], 11);

var mapbox = L.tileLayer('http://{s}.tiles.mapbox.com/v3/{{ config['MAPBOX_MAP_ID'] }}/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; [...]',
    maxZoom: 18
})

mapbox.addTo(map);

var ggl = new L.Google();
var ggl2 = new L.Google('TERRAIN');

var baseMaps = {
    "MapBox": mapbox,
    "Google Satellite": ggl,
    "Google Terrain": ggl2
}

map.addControl(new L.Control.Layers( baseMaps, {}));

function popUp(feature, layer) {
    layer.bindPopup('<a href="' + feature.properties.html + '">' + feature.properties.name + '</a>');
}

var geojsonLayer = new L.GeoJSON.AJAX("{{ url_for('api.avalanche_paths' ) }}", {onEachFeature:popUp});
geojsonLayer.addTo(map);
</script>

{% endblock %}

{% block content %}
<div class="jumbotron" style="background-image: url({{ url_for('static', filename='img/header-avalanche-paths.jpg') }}); background-size: 100%;">
    <div class="container">
        <h1 style="color: white;">Avalanche Paths</h1>
    </div>
</div>

<div class="container">
    <div id="map" class="row" style="height: 600px;"></div>

    <div class="row top-buffer">
        <div class="col-md-8">
            <div class="list-group">
                {% for path in paths %}
                    <a href="{{ url_for('main.avalanche_path', id=path.id) }}" class="list-group-item">{{ path.name }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Avalanches in Baxter State Park</h3>
                </div>
                <div class="panel-body">
                    <p>Some words that will hopefully become better someday</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
