{% extends "base.html" %}
{% block title %}{{ incident.name }}{% endblock %}

{% block body_attribs %} class="baxter-avalanche-incident"{% endblock %}


{% block styles %}
{{ super() }}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
{% endblock %}

{% block scripts %}
{{ super() }}
{% if not incident.bed_surface is none and not incident.debris_field is none %}
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="https://raw.github.com/calvinmetcalf/leaflet-ajax/master/dist/leaflet.ajax.min.js"></script>
<script src="http://maps.google.com/maps/api/js?v=3&sensor=false"></script>
<script src="https://raw.githubusercontent.com/shramov/leaflet-plugins/master/layer/tile/Google.js"></script>
<script>
var map = L.map('map').setView([{{ incident.l_center() }}], 14);

var mapbox = L.tileLayer('http://{s}.tiles.mapbox.com/v3/{{ config['MAPBOX_MAP_ID'] }}/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; [...]',
    maxZoom: 18
})

mapbox.addTo(map);

var ggl = new L.Google();
var ggl2 = new L.Google('TERRAIN');

var baseMaps = {
    "MapBox": mapbox,
    "Google Satellite": ggl,
    "Google Terrain": ggl2
}

function popUp(feature, layer) {
    layer.bindPopup(feature.properties.structure);
}

var geojsonLayer = new L.GeoJSON.AJAX("{{ url_for('api.incident_parts', id=incident.id ) }}", {onEachFeature:popUp});
geojsonLayer.addTo(map);

map.fitBounds(geojsonLayer.getBounds());

map.addControl(new L.Control.Layers( baseMaps, {}));




</script>
{% endif %}
{% endblock %}

{% block content %}
<div class="jumbotron" style="background-image: url({{ url_for('static', filename='img/header.jpg' ) }}); background-size: 100%;">
    <div class="container">
        <h1>{{ incident.name }} - {{ incident.occurence_date.strftime('%Y-%m-%d') }}</h1>
    </div>
</div>

<div class="container">
    {% if not incident.debris_field is none and not incident.bed_surface is none %}
    <div id="map" style="height: 400px;"></div>
    {% endif %}

    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li><a href="#description" data-toggle="tab">Description</a></li>
        <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
    </ul>
    <!-- Tab contents -->
    <div class="tab-content">
        <div class="tab-pane" id="description">
            <div class="container">
                {{ incident.description_md() }}
            </div>
        </div>
        <div class="tab-pane active" id="details">
            <div class="row">
                <h4>Avalanche Details</h4>
                <ul>
                    <li>Location: {{ incident.location }}</li>
                    <li>Date: {{ incident.occurence_date.strftime('%Y/%m/%d') }}</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-3">
                    <h5>Number</h5>
                    <ul>
                        <li>Caught: {{ incident.people_caught }}</li>
                        <li>Carried: {{ incident.people_carried }}</li>
                        <li>Partially Burried: {{ incident.people_buried_part }}</li>
                        <li>Fully Burried: {{ incident.people_buried_full }}</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-3">
                    <h5>Avalanche</h5>
                    <ul>
                        <li>Type: {{ av_types[incident.av_type] }}</li>
                        <li>Trigger: {{ triggers[incident.trigger] }}</li>
                        <li>Trigger info: {{ triggers_add[incident.trigger_add] }}</li>
                        <li>Weak layer: {{ weak_layers[incident.weak_layer] }}</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-3">
                    <h5>Site</h5>
                    <ul>
                        <li>Slope Aspect: {{ aspects[incident.aspect] }}</li>
                        <li>Elevation: {{ incident.elevation }}</li>
                        <li>Slope Angle: {{ incident.slope_angle }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

</div>
</div>
{% endblock %}
